<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <title>Document</title>
</head>
<body>
    <div style=" background: fixed; background-color: rgb(82, 190, 240); opacity: 0.7;" >
    <h1 style="color:black;">BlockChain Based Public Auditing for Block Level Deduplication</h1>
</div>
<div>
    <nav>
        <h4>User</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/view_file">View Files</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</div>
    <div class="container mt-4">


        {{!-- <div class="jumbotron">
           <h1 class="display-4">Owner page</h1>
           <table align="center">
        
    <tr><td><a href="file_upload.html"> <button class ="b1">File Upload</button> </a></td></tr>  
      <tr><td><a href="view_file.html"><button class="b1">View Files</button> </a></td></tr> 
      <tr><td><a href="view_file.html"><button class="b1"> Download/Audit  </button></a></td></tr> 
      
      <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Primary link</a>
  <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Primary link</a>
  <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Primary link</a>
      </table> 
         </div> --}}

         <div class="d-grid gap-2"> </div>
  
{{#if user}}
 
   <h4 class="alert alert-danger mt-4">user:{{user}}</h4>

  {{/if}}
 




 <div id="uploadfile" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="panel-title">Upload File</div>
                                 </div>  
                            <div class="panel-body" >

                                <form action="/auth/upload"  class="form-horizontal" method="post"   enctype="multipart/form-data">
                                   
                                        
                                    <div class="form-group">
                                        <label for="file" class="col-md-3 control-label">Upload File</label>
                                        <div class="col-md-9">
                                            <input type="file" class="form-control" name="file" required>
                                        </div>
                                    </div>
                                    
            
                                    <div class="form-group">
                                        <!-- Button -->                                        
                                        <div class="col-md-offset-3 col-md-9">
                                        <input type="submit" name="submit" value="Upload" class="btn btn-primary">   
                                        </div>
                                    </div>
                                 
                                </form>
                             </div>
                        </div>
            
                   
                   
                    
             </div>




    </div>

 {{#if message}}

   <h4 class="alert alert-danger mt-4">{{message}}</h4>

  {{/if}}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>